<style>
  #modal {
    color: white;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(0, 52, 191);
    background: linear-gradient(
      90deg,
      rgba(0, 52, 191, 1) 7%,
      rgba(2, 45, 150, 1) 62%,
      rgba(0, 29, 70, 1) 100%
    );
    width: 100%;
    max-width: 800px;
    height: 600px;
    overflow: auto;
    min-height: 600px;
    border: 6px solid #777777;
    border-radius: 3px;
    transition: 0.1s;
  }

  #modal:hover {
    border-color: var(--selection);
  }

  #title_modal,
  #modal_content {
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  #title_modal {
    text-transform: uppercase;
    font-weight: 400;
  }

  #modal_content {
    letter-spacing: 2px;
    font-style: italic;
  }
</style>

<template>
  <div id="modal">
    <h1 id="title_modal"></h1>
    <div id="modal_content"></div>
  </div>
</template>

<script src="/components/mainModal/script.js"></script>
