<style></style>

<template>
  <link rel="stylesheet" href="/components/mainView/mainView.css" />
  <div class="center_title">
    <div class="title_section">
      <h1 id="Mslam">M-slam</h1>
      <h2 id="phrase_accroche">Développeur web... ou développeur tout court</h2>
    </div>
  </div>

  <section class="main_container">
    <div class="menu_right">
      <ul class="list_menu_right">
        <li id="s" onclick="ChangeURL('accueil')">Accueil</li>
        <li onclick="ChangeURL('presentation')">Présentation</li>
        <li id="project_text" onclick="ChangeURL('projets')">Projets</li>
        <li id="experience_text">Expérience</li>
        <li id="inspiration_text">Inspirations</li>
        <li onclick="window.open('https://github.com/mxslam')">Github</li>
        <li>Remerciements</li>

        <li
          id="contact_text"
          onclick="location.href='mailto:mxslam@protonmail.com'"
        >
          Contactez-moi
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
  (() => {
    ImportComponent('mainModal', '.main_container', true);
  })();
</script>
